<div class="box">

    <div class="box-header">
        <div class="col-md-11">
            <h3 class="box-title"> {{#if error_msg }}
                <p>{{ error_msg }}  jghg</p>
            {{/if}}</h3>

        </div>
        <div class="col-md-1">
            <a href="/users/add" class="btn bg-olive btn-flat  btn-block">
                Add <i class="fa  fa-plus"></i>
            </a>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="text-center">Image</th>
                <th class="text-center">Name</th>
                <th class="text-center">Username</th>
                <th class="text-center">Email</th>
                <th class="text-center">Control</th>
            </tr>
            </thead>
            <tbody>

            {{#each users }}
                <tr>
                    <td class="text-center">
                        <!--<img src="{{ image }}">-->
                        <img src="/public/dist/img/avatar.png" class="img-circle table-cell" alt="User Image">
                    </td>
                    <td class="text-center">
                        {{ name }}
                    </td>
                    <td class="text-center">
                        {{ username }}
                    </td>
                    <td class="text-center">
                        {{ email }}
                    </td>
                    <td class="text-center">
                        <a class="btn btn-social-icon btn-bitbucket">
                            <i class="fa fa-bitbucket"></i>
                        </a>
                        <a class="btn btn-social-icon btn-google-plus">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
            {{/each}}



            </tbody>

        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->



